/* large ipadのよこはば　デカい*/
@media (max-width: 1024px) {

    /* ヘッダー全体*/
    .header-wrap {
        display: flex;
        align-items: center;
    }
    
    /* ヘッダー右コンテンツそれぞれ*/
    .header-content {
        margin: 0;
        padding: 0vh 2vh;
    }

    /* セクションのタイトル*/
    .article-title {
        font-size: 3em;
        padding: 1.5em 0em 1em;
    }
}

/* mideam 普通は896 iphonSX MAX の縦幅=>横にしてみたときの幅*/
@media (max-width: 996px) {

    /* 一番上ヘッダー上タイトル　クラス名変えたほうがいい*/
    .header-logo {
        font-size: 1.5em;
    }

    /*ヘッダー右コンテンツそれぞれ*/
    .header-content {
        margin: 0;
        padding: 0vh 1vh;
        font-size: 1em;
        letter-spacing: 1.5;
    }

    .header-flow {
        display: none;
    }

     /* セクションのタイトル*/
     .article-title {
        font-size: 1.8em;
        padding: 1.5em 0em 1em;
    }

    /* 流れの記事と画像を縦に　*/
    .flow-contents {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .flow-article p {
        width: 100%;
    }

    .flow-image img{
        width: -webkit-fill-available;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5vh;
    }


}

/* small 普通は640 iphonの縦, SXMAXが414とのこと*/
@media (max-width: 731px) {

    /* ヘッダー全体*/
    .header-wrap {
        letter-spacing: 1.5px;
        margin-top: 1.5vh;
    }

    .header-logo {
        margin-left: 1vm;

        font-size: 1.5em;
    }

    /* 内容全体　wrapの横をcontact-wrap、タイトルと合わせる　*/
    .main-wrap {
        margin: 4em 3.5em;
    }

    /* contact　*/
    .contact-wrap {
        margin: 4em 3.5em;
    }


    

}

/*次にヘッダーがずれる大きさ*/
@media (max-width: 623px) {
    .header-contents{
        display: none;
    }

    /* 病院・薬局検索のタブ */
    .tab {
        padding-left: 0;
    }

}

/* 北海道がずれるところ */
@media (max-width: 522px) {
    .header-wrap {
        margin-top: 0;
    }
    .header-logo {
        margin-left: 0;
    }
    
    .main-wrap{
        margin: 4em 2em;
    }

    .contact-wrap {
        margin: 4em 2em;
    }

    .contact-title {
        padding-top: 0;
    }

}

@media (max-width: 474px) {
    
    .main-wrap{
        margin: 4em 1em;
    }

    .main-wrap{
        margin-right: 0em;
    }

    .contact-wrap {
        margin-right: 0em;
    }

    .flow-contents {
        width: 100%;
    }

}



/* スマホ */
@media (max-width: 427px) {
    
    .main-wrap{
        margin-right: 0em;
    }

    /* 病院・薬局検索のタブ */
    .tab li a{
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        white-space: nowrap;
    }

    
/* 都道府県のとこ */
    .area {
        padding: 20px 5px;
    }

}


/*機器はないけどヘッダーがずれるので余裕暇なときに間のpxうめる*/
